<footer
  class="d-flex flex-wrap justify-content-center align-items-center py-2 mt-5 border-top"
  style="background-color: #0d253f"
>
  <div class="col-md-4 d-flex">
    <span class="text-muted">
      <p>Desarrollador por @EmilianoCassoni</p>
      &copy; {{ todayNumbre }} Todos Los derechos reservados
    </span>
  </div>
  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3">
      <a
        class="text-muted"
        href="https://www.instagram.com/emicassoni/?hl=es-la"
        ><i class="bi bi-instagram"></i
      ></a>
    </li>
    <li class="ms-3">
      <a class="text-muted" href="https://github.com/emicasso"
        ><i class="bi bi-github"></i
      ></a>
    </li>
    <li class="ms-3">
      <a class="text-muted" href="https://www.linkedin.com/in/emiliano-cassoni/"
        ><i class="bi bi-linkedin"></i
      ></a>
    </li>
  </ul>
</footer>
