<div class="alert" style="background-color: #0d253f">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-md-3">
          <h3 routerLink="/movies" class="cursor-pointer">
            <img src="/assets/images/logo.svg" alt="Logo" />
          </h3>
        </div>
        <div class="col-md-3">
          <form (submit)="buscarPeliculas($event)">
            <input
              type="text"
              name="movieTitle"
              class="form-control"
              autofocus
              placeholder="Buscar Peliculas 🔍"
              [(ngModel)]="movieTitle"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
  